.app-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  gap:11px;
}

.points {
  display: flex;
  gap: 25px;
  font-size: 2em;
}

.header > h5 {
  font-size: 1.3em;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px
}

.cards-container > button {
  border: none;
  background: inherit;
  cursor: pointer;
}

.cards-container > button:hover {
  transform: scale(1.03);
}